name: Build Android APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-dev git \
        build-essential openjdk-17-jdk unzip zip wget

    - name: Install Android SDK cmdline tools
      run: |
        mkdir -p $HOME/android-sdk/cmdline-tools
        cd $HOME/android-sdk/cmdline-tools
        wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
        unzip commandlinetools-linux-11076708_latest.zip
        mv cmdline-tools latest

    - name: Set Android SDK env
      run: |
        echo "ANDROID_HOME=$HOME/android-sdk" >> $GITHUB_ENV
        echo "$HOME/android-sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
        echo "$HOME/android-sdk/platform-tools" >> $GITHUB_PATH

    - name: Accept Android licenses & install SDK
      run: |
        yes | sdkmanager --licenses
        sdkmanager "platform-tools" "platforms;android-33" "build-tools;33.0.2"

    - name: Install Buildozer
      run: |
        pip3 install --upgrade pip
        pip3 install cython buildozer

    - name: Build APK
      run: |
        buildozer init
        sed -i 's/#android.accept_sdk_license = False/android.accept_sdk_license = True/' buildozer.spec
        buildozer -v android debug

