name: Build Android APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip python3-dev git build-essential openjdk-17-jdk

    - name: Install Buildozer
      run: |
        pip3 install --upgrade pip
        pip3 install cython buildozer

    - name: Build APK
      run: |
        buildozer init
        buildozer android debug
